.container{
    background-color:blue;
    display: flex;
    width: 400px;
    height: 400px;
}

#entryelements{
  background-color: brown;
  width: 250px;
  margin-left: 75px;
}

input{
    margin: 10px;
    padding: 10px;
}

.btn{
    display: flex;
    margin: 10px;
    padding: 10px;
}

#display{
    margin-top: 400px;
    background-color: red;
    align-items: center;
}